.master_div_input {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: blanchedalmond; */
}
.searchBarInput {
  width: 80%;
  height: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.137);
}
.sendInput {
  width: 7%;
  height: 50%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.137);
}

.searchBarAdd {
  width: 9%;
  height: 100%;
  /* background-color: coral; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBarAdd button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}
.searchBarAdd button:hover {
  cursor: pointer;
}
.searchBarMain {
  width: 76%;
  height: 100%;
  /* background-color: darkgreen; */
}
.searchBarIcons {
  width: 21%;
  height: 100%;
  /* background-color: pink; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.searchBarMain input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: rgb(75, 73, 73);
  padding: 0 8px;
}
.sendInput button {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}
.sendInput :hover {
  cursor: pointer;
}
.searchBarIcons button {
  outline: none;
  border: none;
  height: 100%;
  width: 33%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
}

.searchBarIcons button :hover {
  cursor: pointer;
}
.emojiPicker {
  position: absolute;
  z-index: 100;
  bottom: 15%;
  right: 15%;
}
::selection {
  color: rgb(240, 232, 232);
  background: #bb7af8;
}
