.textEncrypted {
  width: 30%;
  background-color: #eccdecc0;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 0.6rem;
  border-radius: 5px;
}
