.chat_interface_container{
    height: 100%;
    width: 100%;
    background-color: red;
    /* z-index: 1; */
}
.chat_interface_top_bar{
    height: 12vh;
    width: 100%;
    background-color: blue;
}
.chat_interface_main{
    height:60.8vh ;
    width: 100%;
    background-color: green;
}
.chat_interface_input{
    height: 15vh;
    width: 100%;
    background-color: yellow;
}