.chat_interface_container {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  /* z-index: 1; */
}

.chat_interface_top_bar {
  height: 12vh;
  width: 100%;
  background-color: #fbefff;
}
.chat_interface_main {
  height: 62.8vh;
  width: 100%;
  /* background-color: green; */
}
.chat_interface_input {
  height: 13vh;
  width: 100%;
  /* background-color: yellow; */
}
