html,
body {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.Dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
}
.sideNav {
  width: 6%;
  height: 100%;
  background: #ffffff;
  /* float: left; */
  text-align: center;
  border-right: 0.2vh solid rgb(182, 175, 175);
  padding: 3vh 0;
}
.sideNav .profile_pic {
  height: 12vh;
  /* background-color: blue; */
  padding: 2vh;
}
.sideNav .other_icons .focus {
  border-right: 4px solid rgba(155, 81, 224, 1);
}
.darkMode:focus {
  border-right: none;
}

.sideNav .profile_pic .inner_box {
  height: 100%;
  width: 94%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.sideNav .profile_pic .inner_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}
.sideNav .other_icons {
  height: 82vh;
}
.rightContainer {
  background: #fff;
  width: 94%;
  height: 100vh;
}
.topNav {
  width: 100%;
  height: 12vh;
  border-bottom: 0.2vh solid rgb(121, 117, 117);
}

.bottomContainer {
  width: 100%;
  height: 87.8vh;
  display: flex;
}
.topBar {
  width: 100%;
  height: 12vh;
  background-color: #e9e9ff;
}

.bottomLeftContainer {
  width: 32%;
  height: 87.8vh;
  background-color: #e9e9ffa2;
}
.bottomRightContainer {
  width: 68%;
  height: 87.8vh;
}
