html,
body {
  height: 100%;
  margin: 0;
}
.Dashboard {
  height: 100vh;
}
.sideNav {
  width: 6%;
  height: 100%;
  background: #ffffff;
  float: left;
  text-align: center;
  border-right: 0.2vh solid rgb(182, 175, 175);
}
.rightContainer {
  background: #fff;
}
.topNav {
  width: 100%;
  height: 12vh;
  border-bottom: 0.2vh solid rgb(182, 175, 175);
}
.bottomContainer {
  height: 100%;
}
.bottomLeftContainer {
  width: 35%;
  height: 87.8vh;
  background-color: #e9e9ffa2;
}
.topBar {
  width: 100%;
  height: 12vh;
  background-color: #e9e9ff;
}
