@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.headingLogin {
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}
.loginInputs input {
  background: #f2f2f2;
  border-radius: 5px;
  width: 300px;
  height: 35px;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: rgb(46, 43, 43);
  transition: 0.5s ease;
}
.loginInputs input::placeholder {
  color: #828282;
  font-size: 1rem;
  font-weight: lighter;
  font-family: sans-serif;
}
.loginInputs input:focus {
  border-bottom: 2px solid #9b51e0;
  box-shadow: 0 0 5px 0 #9b51e0;
}

.loginButton button {
  background: #9b51e0;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  padding: 5px 20px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: lighter;
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}
.loginButton button:hover {
  background: #9940ec;
  box-shadow: 0 0 10px 0 #9b51e0;
}
